#body {
    text-align: center;
    margin-bottom: 5rem;

}

ul {
    list-style: none;
}

#logo {
    width: 300px;
    height: 300px;
}

button a:link {
    text-decoration: none;
    color: black;
}

button a:visited {
    text-decoration: none;
    color: black;
}

button a:hover {
    text-decoration: none;
    color: #0d6efd;

}

button a:active {
    text-decoration: none;
    color: black;
}

#appname {
    font-family: 'Prosto One', cursive;
    text-decoration: underline;
}

#interview-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

a.interview-link:link,
a.interview-link:visited,
a.interview-link:active,
a.interview-link:hover {
    text-decoration: none;
    color: #111111;
    cursor: pointer;
    border: 1px solid #DDDDDD;
    text-align: center;
    padding: 15px;
    margin: 15px;
    width: 30%;
    min-width: 300px;
}

a.interview-link:hover {
    border: 1px solid black;
}

.interview-category {
    height: 50px;
    font-size: 2rem;
    margin: 5px 0 10px 0;
    vertical-align: baseline;
}

#new-dp-form {
    text-align: center;
}

.form-group {
    margin-top: 20px;
}

.info {
    color: #0d6dfdb1;
    font-size: 0.9rem;
}

input[type=text],
input[type=number] {
    width: 300px;
    display: inline;
}

/* label {
    text-align: left;
    display: inline;
} */

#category {
    width: 50px;
}


#date,
#location {
    width: 150px;
}


#description,
#background {
    width: 500px;
    margin: auto;
}


.intro {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    gap: 1rem 1rem;
    padding: 2rem;

}

.intro div {
    margin: 1rem 1rem 1rem 1rem;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;

}

.intro div .p {
    padding: 0.8rem;
    background-color: rgb(233, 233, 233);
    border-style: solid;
    border-color: rgb(233, 233, 233);
    border-radius: 0.5rem;
    height: 150px;
    width: 240px;

}

.helpme {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;


}

.helpme .fuwu {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 20%;
    height: 200px;
    width: 500px;
    align-self: center;
    margin-top: 2rem;
    padding: 2rem;
    background-color: #d5ebe0ae;
    border: #d5ebe0ae solid;
    border-radius: 10px;
}